/*Include fonts police*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
/*-------- Body style --------------- */
body
{
  
font-family: 'League Spartan';
font-style: normal;
font-weight: 700;

line-height: 48px;
/* or 86% */
letter-spacing: -2px;
color: #512051;
}
/*Body and global card*/
.card-container, body{
  margin: 0;
  padding: 0;    
}

.card-container
{
  background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position:  top -340px left -170px, bottom -100px right -122px;
  background-size: 80%, 80%;
  width: 100%;
  padding: 0px;
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:  22px;
}

.card-content-item1
  {
    background: white;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    width: 1110px;
    height: 245px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    border-radius: 22px;
}

.item1_1_title
{
  font-size: 56px;
  width: 445px;
  height: 154px;
  margin-top: 0px;
}

.btn_item1, .btn-item2, .btn-item3
{
  width: 430px;
height: 45px;
background-color: #f7f2f7;
border-radius: 10px;
border: 2px solid #f7f2f7;
}

.btn_item1
{
   align-self: flex-start;
}
.btn-item2
{
   align-self: center;
}

.btn-item3
{
  align-self: flex-end;
}

.item-img
{
  width: 116.55px;
  height: 15.77px; 
  margin-left: 40px;
}

.img-icon-star
{
   margin-right: 7px;
}
.text-item-img
{

font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 16px;
color: #512051;
margin-left: 22px;
}

.card-item1_1
{
  width: 445px;
height: 245px;
align-self: flex-start;
display: flex;

}

.card-item1_2
{
  width: 540px;
  height: 200px;
}
.item1_1_description
{
  width: 445px;
  height: 75px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  /* or 132% */
  
  letter-spacing: -0.633333px;
  
  color: #927B91;
}

.card-img-author
{
  width: 100%;
  height: 140px;
  background: url("../images/bg-pattern-card.svg");
  border-radius: 22px 22px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-author 
{
  border-radius: 50%;
  border: 6px solid white;
  margin-top: 40%;
}
.author-text
{
  text-align: center;
  font-weight: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #2E3349;
}
.author-info
{
   margin-top: 20%;
   text-align: center;
}
.color-number
{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-left: 5px;
  color: #6B7082;
}


.card-img-left
{
  background: url('../images/bg-pattern-bottom.svg');
}
/*Centered card start  ----------------------------*/



/*Card content start  ----------------------------*/
.author-country
{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6B7082;
    padding-top: 2%;
    display: inline-block;
}
/*Footer content start  ----------------------------*/
.footer-content
{
  margin-top: 22px;
}
.card-number-info-center
{
   margin-left: 32px;
   margin-right: 32px;
   text-align: center;
}

